
input {
  outline: none;
}

input[type="checkbox"] {
  outline-width: 10px;
  margin-top: 3.5px;
  margin-right: 5px;
  background-color: black;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
}

.container-list-todo {
  width: 100%;
  margin-top: 20px;
}

.list-todo {
  background-color: #443737;
  color:#ffffff;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
  
}
.list-todo-buttons{
  display: flex;
}

.icon-button {
  width: 37px;
  height: calc(100% + 12px);
  color: #ffffff;
  background-color: #443737;
  border: 1px solid #443737;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.icon-button:hover {
    cursor: pointer;
    background-color: #3d3131;
    border-color: #3d3131;
}

.edit-todo {
  border: 1px solid #ffffff;
}

.edit-todo-button{
  font-size: 24px;
  margin-left: 5px;
}